@import "../../styles/colors.scss";

.custom-btn {
    width: max-content;
    height: fit-content;
    padding: 8px 16px;
    border-radius: 6px;
    border-radius: 50px;
    border: 2px solid var(--green-500);
    color: var(--green-500);

    :hover {
        background-color: var(--green-500);
        color: white;
    }
}