.scroll-indicator {
    position: fixed;
    right: 32px;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 5;
}

.scroll-indicator a {
    position: relative;
}

.scroll-indicator a::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: rotate(-45deg);
}

.scroll-indicator a::before {
    content: attr(data-section);
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-30%);
    opacity: 0;
    transition: all 400ms ease;
}

.scroll-indicator a:hover::before {
    opacity: 1;
    transform: translate(0, -30%);
}

.scroll-indicator a:hover::after {
    background-color: aquamarine;
}

.scroll-indicator a.active::after {
    width: 15px;
    height: 15px;
    border: 2px solid aquamarine;
    background-color: transparent;
    transform: rotate(0deg);
    transform: translateX(-14%);
    transition: all 200ms ease;
}

.scroll-indicator a.active::before {
    opacity: 1;
    transform: translate(0, -30%);
}