#companyList::-webkit-scrollbar {
  height: 10px;
}
#companyList::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

.hover {
  --b: 0.1em; /* the thickness of the line */
  --c: #64ffda; /* the color */

  padding-block: var(--b);
  background: linear-gradient(90deg, var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(90deg, var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%)
      var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.hover:hover {
  --_p: 100%;
  --_s: 0.3s;
}

@media screen and (min-width: 640px) {
  .hover:hover {
    --_p: 0%;
    --s: 0s;
  }
}
