@import "../../styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lora:wght@500&family=Tilt+Prism&display=swap");
footer {
  background-color: var(--navy-500);
  color: var(--light-slate);
}

.horizontal-line {
  margin: auto;
  border: 1px solid var(--dark-slate);
}

.about-me {
  border-bottom: 3px solid var(--green-500);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeLocation {
  flex: 3;
  @include fontStyle(200, 64px, 1.2);
  color: var(--dark-slate);
  font-family: "Tilt Prism", cursive;
}

.weatherLocation {
  @include fontStyle(200, 40px, 1.2);
  color: var(--dark-slate);
  font-family: "Anton", sans-serif;
}

.summaryInfo {
  flex: 1;
  padding: 32px 0px;

  h3 {
    @include fontStyle(600, 24px, 1.5);
    color: var(--light-slate);
    margin-bottom: 32px;
  }
}

.summaryInfoSection__header {
  @include fontStyle(700, 20px, 1.5);
  color: var(--dark-slate);
  margin-bottom: 20px;
}

.summaryInfoSection__content {
  p {
    position: relative;
    margin-bottom: 12px;
  }
  p:before {
    content: attr(data-length-info);
    position: absolute;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: var(--green-500);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    color: transparent;
  }
  p:hover:before {
    visibility: visible;
    opacity: 1;
  }
  p:hover {
    color: var(--lighest-slate);
  }
}

@media screen and (min-width: 640px) {
  #fp-nav {
    display: flex;
  }

  .footer-content {
    margin: 24px;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }

  .timeLocation {
    @include fontStyle(200, 80px, 1.2);
    color: var(--dark-slate);
    font-family: "Tilt Prism", cursive;
  }

  .weatherLocation {
    @include fontStyle(200, 72px, 1.2);
    color: var(--dark-slate);
    font-family: "Anton", sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 24px;
  }

  .section {
    display: flex;
  }

  .footer-content {
    margin: 24px;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }

  .summaryInfo {
    flex: 1;
    padding: 32px;

    h3 {
      @include fontStyle(600, 24px, 1.5);
      color: var(--light-slate);
      margin-bottom: 32px;
    }
  }

  .timeLocation {
    @include fontStyle(200, 80px, 1.2);
    color: var(--dark-slate);
    font-family: "Tilt Prism", cursive;
  }

  .weatherLocation {
    @include fontStyle(200, 72px, 1.2);
    color: var(--dark-slate);
    font-family: "Anton", sans-serif;
  }
}
