@import "../../styles/colors.scss";

footer {
    background-color: var(--navy-500);
    color: var(--light-slate);
}

.horizontal-line {
    width: 80vw;
    margin: auto;
    color: var(--dark-slate);
}

.about-me {
    border-bottom: 3px solid var(--green-500);
}
